# directories
node_modules/
example/
__tests__/
coverage/
.github/
screenshots/
.vscode/

# files
.DS_Store
npm-debug.log
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.eslintignore
.eslintrc.js
babel.config.js
jest.config.ts
tsconfig.json
RELEASE_NOTES.md